config {
    // nf-test configuration
    // Reference: https://www.nf-test.com/docs/configuration/

    // Location for nf-test temporary files
    workDir = ".nf-test"

    // Directory containing test files
    testsDir = "tests"

    // Default Nextflow config file to use
    configFile = "nextflow.config"

    // Default profile for running tests
    profile = "test,singularity"
}
