// Cluster profile for SLURM with GPUs. Adjust to your scheduler's conventions.
process {
  executor = 'slurm'
  queue = 'gpu'
  cpus = 8
  memory = '64 GB'
  time = '12h'
  clusterOptions = '--gres=gpu:1'
}

// Note: This config assumes Singularity or Docker images will be used. On clusters
// that use Singularity to run containers, run Nextflow with `-with-singularity`
// and ensure the container images are available (or pullable) on the cluster nodes.
